    
<img src="http://russianaicup.ru/s/1426171668548/assets/application/img/partners/logo_codeforces.png">
<div>
    <ul>
        <li ng-repeat="contest in cfcontests | orderBy:'startTime'" ><a ng-href="{{contest.url}}">{{ contest.name }}</a> on <strong>{{ contest.startTime | date:'medium'}}</strong> till <strong>{{contest.endTime | date:'medium'}}</strong></li>
    </ul>
</div>

<img src="https://upload.wikimedia.org/wikipedia/uk/9/99/TopCoder_logo.png">
<div>
    <ul>
        <li ng-repeat="contest in tccontests | orderBy:'startTime'" ><a ng-href="{{contest.url}}">{{ contest.name }}</a> on <strong>{{ contest.startTime | date:'medium'}}</strong> till <strong>{{contest.endTime | date:'medium'}}</strong></li>
    </ul>
</div>

<img src="http://www.vccircle.com/sites/default/files/styles/large/public/image/VCCircle_HackeRank_logo.jpg?itok=L9YXZYwe">
<div>
    <ul>
        <li ng-repeat="contest in Hrcontests | orderBy:'startTime'" ><a ng-href="{{contest.url}}">{{ contest.name }}</a> on <strong>{{ contest.startTime | date:'medium'}}</strong> till <strong>{{contest.endTime | date:'medium'}}</strong></li>
    </ul>
</div>


<img src="https://upload.wikimedia.org/wikipedia/en/7/72/CodeChef_logo.png">
<div>
    <ul>
        <li ng-repeat="contest in cccontests | orderBy:'startTime'" ><a ng-href="{{contest.url}}">{{ contest.name }}</a> on <strong>{{ contest.startTime | date:'medium'}}</strong> till <strong>{{contest.endTime | date:'medium'}}</strong></li>
    </ul>
</div>

<img src="https://a.disquscdn.com/get?url=http%3A%2F%2Fengineering.hackerearth.com%2Fimages%2FHE-logo.png&key=9MD66GBv0Q7ahljEmIqSfA">
<div>
    <ul>
        <li ng-repeat="contest in Hecontests" ><a ng-href="{{contest.url}}">{{ contest.name }}</a> on <strong>{{ contest.startTime | date:'medium'}}</strong> till <strong>{{contest.endTime | date:'medium'}}</strong></li>
    </ul>
</div>